.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: 2vmin;
  color: white;
}

.App-link {
  color: #61dafb;
}

.photo {
  height: 40vmin;
  width: 40vmin;
  border-radius: 10px;
  margin-top: 3vmin;
  border: 2px solid #61dafb;
}

.name {
  font-size: calc(3vmin + 7px);
}

.position {
  font-size: calc(2vmin + 4px);
  color: #61dafb;
}

.skills {
  max-width: 40vmin;
  margin-right: 10vmin;
}

h2 {
  text-align: center;
  font-size: 3vmin;
  width: 100%;
  border-bottom: 2px solid #61dafb;
}

h3 {
  font-size: calc(2vmin + 4px);
  border-bottom: 2px solid #61dafb;
}

ul > li {
  text-align: start;
}

@counter-style marker {
	system: cyclic;
  symbols: "-";
	suffix: " ";
}

.profile {
  max-width: 70vmin;
  text-align: start;
}

.profile > ul {
  list-style-type: marker;
}

.stack {
  color: #61dafb;
}

.contacts {
  display: flex;
  gap: 4vmin;
  flex-wrap: wrap;
}

.contact {
  display: flex;
  align-items: center;
}

.profile > div > a {
  text-decoration: none;
  color: #61dafb;
  vertical-align: middle
}

.icon {
  height: 3vmin;
  width: 3vmin;
}


.App-logo {
  margin-bottom: -1vmin;
  height: 3vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
